/* PURPLE: #BAA1D3 */
/* GREEN: #A1D3BA; */
/* RED: #AF0E1F; */

body {
	margin: 0;
	color: #2E2835;
	font-family: 'Merienda', cursive;
}
/* HEADER  */
.header {
	margin: 1rem;
}
.game-title {
	font-family: 'Jockey One', sans-serif;
	color: #BAA1D3;
	text-align: center;
	font-size: 3.5rem;
}
.buttons {
	display: flex;
	justify-content: center;
	margin: 2rem auto;
}
.button-action {
	color: #2E2835;
	font-size: 1.1rem;
	padding: 0.5rem;
	border-radius: 0.4rem;
	border: 1px solid #A1D3BA;
	margin: 1rem 1rem 0 0;
}
.button-action:hover {
	background-color: #A1D3BA;
	border: 1px solid #2E2835;
	transition: all 0.5s ease;
}
.button-action:focus {
	outline: 0;
}
.popover {
	font-family: 'Merienda', cursive;
	color: #2E2835;
}
.popover-header {
	color: #2E2835;
	background-color: #E0CFF0;
}
/* MESSAGES AND COUNTERS  */
.messages {
	text-align: center;
}
.error-message {
	color: #AF0E1F;
}
.success-message {
	color: #64C9E7;
}
.message {
	visibility: visible;
}

/* CARD BOARD  */
.cards-board {
	width: 60%;
	margin: 1rem auto;
	padding: 2rem;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	align-items: center;
	border-radius: 1rem;
}
.card-spot {
	width: 8rem;
	background-color: #C3E7FF;
	margin: 1rem;
	border-radius: 1rem;
	border: 1px solid #2E2835;
}
.highlighted {
	border: 5px solid #E8F78D;
}
.hide-message {
	visibility: hidden;
}
.hide-card {
	visibility: hidden;
}
.card-spot-12 {
	width: 6rem;
	margin: 2rem 1rem;
}
.how-button {
    color: #2E2835;
    font-size: 15px;
}

/* FOOTER */
.footer {
	text-align: center;
	color: #BAA1D3;
}
.link {
	color: #2E2835;
	text-decoration: none;
}
.logo {
	width: 50px;
}
