/* PURPLE: #813A92 */
/* GREEN: #3A9281; */
/* RED: #923A4B; */

body {
	color: #565656;
}
.cards-board {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}
.card-spot {
	width: 25%;
	height: 100px;
	background-color: green;
	margin: 2rem;
	color: white;
}
