/* PURPLE: #813A92 */
/* GREEN: #3A9281; */
/* RED: #923A4B; */

body {
	color: #565656;
}
.cards-board {
	width: 80%;
	margin: 2rem auto;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}
.card-spot {
	width: 20%;
	height: 80px;
	background-color: #C3E7FF;
	margin: 2rem;
	border-radius: 2rem;
}
.card-text {
	color: #90999F;
	font-size: 0.7rem;
	padding: 1rem;
}
.highlighted {
	border: 5px solid yellow;
}
.message {
	visibility: hidden;
}
.show-message {
	visibility: visible;
}
